RewriteEngine on

RewriteRule ^(index|search|post|registration|contact|category|author_post|forgot|admin|user)$ $1.php [NC,L]


RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]
RewriteRule ^post/(\d+)/(.+)$ post.php?p_id=$1&confirm_msg=$2 [NC,L]

RewriteRule ^index/(\w+)$ index.php?confirm_msg=$1 [NC,L]


RewriteRule ^author_post/(\w+)$ author_post.php?author=$1 [NC,L]

RewriteRule ^category/(\d+)$ category.php?cat=$1 [NC,L]

RewriteRule ^tag/(\w+)$ tag.php?name=$1 [NC,L]

# [NC, L] -> Apache server Flag

